* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

a,
ul,
ol,
li {
    all: unset;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #000;
    height: 65px;
    size: 15px;
    width: 100%;
    color: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 64px;
    border-top: 0.5px solid #CCCCCC;
    background: #FFFFFF;
}


.nav-list {
    display: flex;
    gap: 29px;
}

.nav-list a {
    font-weight: 700;
    font-size: 17px;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.action-categories {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    padding: 18px 0;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 210px;
    height: 67px;
}

.categories-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
}

.categories-menu li {
    cursor: pointer;
    white-space: nowrap;
}

.categories-menu i {
    margin-left: 5px;
}

.main-image {
    display: grid;
}

.main-image img {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}

.hover-text {
    width: 642px;
    grid-row: 1;
    grid-column: 1;
    margin-right: 40px;
    justify-self: flex-end;
    align-content: center;
    text-align: right;

}

.hover-text p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 64px;
}

.text-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 40px;
}

.glide_carousel {
    margin-top: 60px;
}


.glide_carousel .glide {
    position: relative;
    max-width: 100%;
    overflow: visible;
    margin-top: 40px;
    padding: 40px 0;
}

.glide_carousel .glide__track {
    overflow: hidden;
}

.glide_carousel .glide__slide {
    display: grid;
    gap: 20px;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.carousel-item img {
    max-width: 577px;
    max-height: 577px;
    width: 100%;
    height: auto;
    display: block;
}

.carousel-item p {
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}

.glide_carousel .arrows {
    position: absolute;
    top: -40px;
    right: 40px;
    z-index: 10;
}

.glide_carousel .glide__arrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    margin: 0 5px;
    color: #000;
}

.retail-content {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-top: 40px;
    height: 700px;
}

.retail-nav {
    background-color: #000;
    flex-flow: column;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.retail-center {
    margin: auto;
    display: flex;
    flex-flow: column;
    gap: 20px;
    max-width: 540px;
    color: #fff;
}

.retail-center h1 {
    font-weight: 400;
    font-size: 35px;

}

.retail-center p {
    font-weight: 400;
    font-size: 47px;

}

.reatil-img {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.reatil-img img {
    max-width: 935px;
    max-height: 395px;
    width: 100%;
    height: auto;
}

.products {
    margin-top: 40px;
    gap: 20px;
    flex-flow: column;
    display: flex;
    width: 100%;
    justify-content: center;
}

.products h1 {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
}

.products-container {
    flex-flow: row;
    display: flex;
    justify-content: space-evenly;
}

.product-item {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.product-item img {
    max-width: 356px;
    max-width: 359px;
    width: 100%;
    height: auto;
}

.product-item p {
    font-weight: 300;
    font-size: 24px;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    background: #F9F9F9;
    margin-top: 40px;
}

.testimonials-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 20px;
    padding: 75px 0 35px 0;
}

.testimonials-content h1 {
    font-weight: 400;
    font-size: 35px;
}

.testimonials-content p {
    font-weight: 300;
    font-size: 18px;
}

.glide_testimonial {
    max-width: 1020px;
}

.glide_testimonial .glide__arrows {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.glide_testimonial .glide__arrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    margin: 0 5px;
    color: #000;
}

.footer {
    display: block;
    width: 100%;
    margin: 40px 0;
    border-top: 1px solid #E5E5E5;
}

.footer-container {
    margin: auto;
    max-width: 1220px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 40px 0;
}

.footer-item {
    gap: 10px;
    flex-flow: column;
    display: flex;
    max-width: 230px;
    color: #757575;
}

.footer-item a {
    font-weight: 400;
    font-size: 14px;
}

.footer-item p {
    font-weight: 400;
    font-size: 14px;

}

.footer-item h4 {
    color: #000;
}

.footer-logo {
    width: 117px;
    height: 37px;

}

.footer-about {
    width: 220px;
}

.footer-about p {
    font-weight: 300;
    font-size: 12px;
}

.rights {
    padding: 10px;
    color: #757575;
    text-align: left;
    font-weight: 400;
    size: 12px;
    margin: auto;
    max-width: 1220px;
}

.button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 14px 24px;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
}

.newsletter-button {
    background-color: #000;
    border: 1px solid #000;
}

.search-button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

@media(max-width: 1520px) {
    .retail-center {
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .retail-center p {
        font-size: 32px;
    }
}

@media(max-width: 1200px) {
    .footer-container {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 40px 20px;
    }

    .footer-item {
        max-width: 45%;
        min-width: 200px;
    }

    .footer-about {
        order: -1;
        max-width: 100%;
    }

    .footer-newsletter {
        max-width: 100%;
    }

    .footer-newsletter p {
        max-width: 600px;
    }

    .newsletter-button {
        margin-top: 10px;
    }
}

@media (max-width: 1024px) {
    .carousel-item p {
        font-size: 20px;
        text-align: center;
    }

    .retail-content {
        width: 100%;
        display: flex;
        flex-flow: column;
        margin: 20px 0;
    }

    .reatil-img {
        align-items: center;
        padding: 20px 0;
    }

    .reatil-img img {
        width: 100%;
        height: auto;
    }

    .retail-center h1 {
        font-size: 20px;

    }

    .retail-center p {
        font-size: 24px;

    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
        justify-items: center;
        padding: 0 20px;
    }

    .product-item {
        align-items: center;
        text-align: center;
    }
    .testimonials-content{
            padding: 10px;
    }
}

@media (max-width: 816px) {
    .action-categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
    }

    .categories-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .categories-menu li {
        font-size: 16px;
    }

    .logo img {
        width: 160px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 10px;
        text-align: center;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        height: auto;
    }

    .hamburger {
        display: block;
        margin-bottom: 10px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list a,
    .search-button {
        font-size: 16px;
        padding: 10px 0;
        width: 100%;
        text-align: left;
    }

    .search-button {
        background: none;
        border: none;
    }

    .hover-text {
        width: 100%;
        margin: 0;
        padding: 20px;
        justify-self: center;
        align-items: center;
        text-align: center;
    }

    .text-container {
        align-items: center;
        gap: 20px;
    }

    .hover-text p {
        font-size: 32px;
        padding: 0 10px;
    }

    .button {
        font-size: 16px;
        padding: 10px 20px;
    }


    .carousel-item img {
        width: 300px;
        height: 300px;
    }

    .carousel-item p {
        padding: 10px;
        font-size: 18px;
    }

    .glide_carousel .arrows {
        top: -35px;
        right: 20px;
    }

    .products-container {
        grid-template-columns: 1fr;
    }

    .product-item img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .product-item {
        padding: 10px 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }

    .footer-item {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .footer-item h4,
    .footer-item p,
    .footer-item a {
        text-align: center;
    }

    .footer-about p {
        margin: auto;
        font-size: 13px;
    }

    .footer-newsletter p {
        font-size: 13px;
        margin: auto;
    }

    .footer-logo {
        margin-bottom: 10px;
    }

    .rights {
        text-align: center;
        padding: 10px;
        font-size: 13px;
    }
}